<ion-view view-title="山地车">
<ion-content class="has-header">
    <div class="item item-body">
        <img class="full-image" src="img/glbike.jpg" height="200px">
        <hr />
        <p>公路车</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;5元/小时</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;运动型，体验飞一般的速度。
        </p>
    </div>
</ion-content>
<div class="bar bar-footer bar-assertive footer-button">
    <a class="button button-full button-clear" href="#/bike/map">
        立即租用
    </a>
</div>
</ion-view>