<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

    <ion-tab title="主页" icon-off="yxq_home_outline" icon-on="yxq_home" href="#/bike/home">
        <ion-nav-view name="bike-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="租车" icon-off="yxq_rent_outline" icon-on="yxq_rent" href="#/bike/rentBike">
        <ion-nav-view name="bike-rentBike"></ion-nav-view>
    </ion-tab>

    <ion-tab title="发现" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/bike/find">
        <ion-nav-view name="bike-find"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" icon-off="yxq_mine_outline" icon-on="yxq_mine" href="#/bike/mine">
        <ion-nav-view name="bike-mine"></ion-nav-view>
    </ion-tab>

</ion-tabs>