<ion-view view-title="发现">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button icon ion-ios-plus-empty button-clear" href="#/bikebon/mySays" menu-toggle="right"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="pic-200-yxq text-center" style="background: url(img/bg/bg_find.png) no-repeat center;padding-top:90px;">
            <span class="font-14-yxq light">轻触设置封面</span>
        </div>
        <div class="find-user-name">
            <span class="font-16-yxq">最讨厌想昵称</span>
        </div>
        <div class="find-user-pic">
            <img class="pic-50-yxq" src="img/headShow/user_s.png" />
            <span style="margin-right:5px;"></span>
        </div>

        <div class="list">
            <div class="item item-body" style="padding: 0px;margin: 0px;border: 0px;">
                <div class="margin-10-top margin-10-bottom">
                    <div class="find-div-left">
                        <img class="pic-40-yxq" src="img/headShow/user_s.png" />
                    </div>
                    <div class="find-div-right">
                        <div class="balanced font-16-yxq">小雷工作室</div>
                        <div class="font-15-yxq">小雷工作室的同胞们，为了感谢各位的辛苦工作，我们周末踏春去了～雷友们，想去哪儿讷？</div>
                        <div class="row" class="padding-0-yxq">
                            <span class="col col-40 font-13-yxq color-b3-jx padding-0-yxq">1分钟前</span>
                            <span class="col col-offset-10 col-40 find-icon-chat"><span class="col"><a href="#" class="ion ion-chatbox-working color-b3-jx"></a></span></span>
                        </div>
                        <div class="find-content">
                            <div class="ion ion-ios-heart-outline balanced padding-2-left">&nbsp;小肥肥,彬哥,学聪大帅哥</div>
                            <div>
                                <span class="balanced margin-2-left">三藏</span>
                                <span>：</span>
                                <span>师父带你们取经去，可好?八戒，跟上...</span>
                            </div>
                            <div>
                                <span class="balanced margin-2-left">小宇宇</span>
                                <span style="">回复</span>
                                <span class="balanced">三藏</span>
                                <span style="">：</span>
                                <span>汗，楼上的注意雷雷工作室的形象！</span>
                            </div>
                            <div>
                                <span class="balanced margin-2-left">小龙哥</span>
                                <span style="">回复</span>
                                <span class="balanced">三藏</span>
                                <span style="">：</span>
                                <span>师父，我永远是你的小白龙～</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-yxq" />
            </div>
            <div class="item item-body" style="padding: 0px;margin: 0px;border: 0px;flex-flow: wrap;">
                <div class="margin-10-top margin-10-bottom">
                    <div class="find-div-left">
                        <img class="pic-40-yxq" src="img/headShow/user_s.png" />
                    </div>
                    <div class="find-div-right">
                        <div class="balanced font-16-yxq">UI静</div>
                        <div class="font-15-yxq">啊～又是和前端姑娘相爱相杀的一天～</div>
                        <div>
                            <img class="find-act-pic" src="img/find/rm.jpg" />
                        </div>
                        <div class="row" class="padding-0-yxq">
                            <span class="col col-40 font-13-yxq color-b3-jx padding-0-yxq">昨天08:48</span>
                            <span class="col col-offset-10 col-40 find-icon-chat"><span class="col"><a href="#" class="ion ion-chatbox-working color-b3-jx"></a></span></span>
                        </div>
                        <div class="find-content">
                            <div class="ion ion-ios-heart-outline balanced padding-2-left">&nbsp;琦宝～,Dilemma,妃姐,小龙哥,三藏等9人觉得很赞</div>
                            <div>
                                <span class="balanced margin-2-left">最讨厌想昵称</span>
                                <span>：</span>
                                <span>啊～又是和UI妹子相爱相杀的一天～</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-yxq" />
            </div>
        </div>
    </ion-content>
</ion-view>