<ion-view view-title="百客邦">
    <ion-nav-bar  align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-location button-clear" menu-toggle="left">宁波</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" menu-toggle="right">地图</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-slide-box does-continue="true" auto-play="true">
            <ion-slide ng-repeat="img in imgs">
                <div class="slide-box pic-200-yxq" style="background: url({{img.url}}) no-repeat center;">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="home-line-yxq">
            <div class = "row">
                <a class = "col col-50 text-center home-up-yxq" href="#">
                    <img src="img/homes/rentCar.png" /><br />立即租车
                </a>
                <a class = "col col-50 text-center home-up-yxq" href="#/bike/rentBike">
                    <img src="img/homes/beforeRent.png"><br />预约租车
                </a>
            </div>
            <div class = "row">
                <a class = "col col-50 text-center home-down-yxq" href="#/mySchedule">
                    <img src="img/homes/trip.png"><br />当前行程
                </a>
                <a class = "col col-50 text-center home-down-yxq" href="#">
                    <img src="img/homes/activity.png"><br />最新活动
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
