<ion-view view-title="百客邦">
    <ion-nav-bar  align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button icon ion-location button-clear" menu-toggle="left">宁波</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button icon ion-navigate button-clear" menu-toggle="right"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-slide-box does-continue="true" auto-play="true">
            <ion-slide ng-repeat="img in imgs">
                <div class="slide-box">
                    <img src={{img.url}} style="width:100%;height:200px;">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div style="background:url(img/line/line.png) center no-repeat;margin-top:20px;">
            <div class = "row">
                <div class = "col col-50 text-center" style="padding-bottom:25px;">
                    <img src="img/home/rentCar.png" /><br />立即租车
                </div>
                <div class = "col col-50 text-center" style="padding-bottom:25px;">
                    <img src="img/home/beforeRent.png"><br />预约租车
                </div>
            </div>
            <div class = "row">
                <div class = "col col-50 text-center" style="padding-top:30px;">
                    <img src="img/home/trip.png"><br />当前行程
                </div>
                <div class = "col col-50 text-center" style="padding-top:30px;">
                    <img src="img/home/activity.png"><br />最新活动
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
