<ion-view view-title="百客邦">
    <ion-nav-bar  align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-location button-clear" menu-toggle="left">宁波</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" menu-toggle="right">地图</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="home">
            <ion-slide-box does-continue="true" auto-play="true" show-pager="true">
                <ion-slide ng-repeat="img in imgs">
                    <div class="slide-box">
                        <img src={{img.imgUrl}} />
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="home-middle">
                <img src="img/home/rentCar.png">
            </div>
            <div class="home-bottom">
                <a class="home-bottom-img" href="#/bikebon/rentBike"><img src="img/home/beforeRent.png"></a>
                <div class="home-bottom-img"><img src="img/home/activity.png"></div>
                <a class="home-bottom-img" href="#/mySchedule"><img src="img/home/trip.png"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
