<ion-view hide-nav-bar="true">
<ion-content class="login-bg-yxq">
    <img class="pic-95-yxq" src="img/icon.png"/>
    <br />
    <div class="list">
        <label class="item item-input">
            <input type="number" placeholder="请输入您的手机号码" />
        </label>
        <label class="item item-input">
            <input type="text" placeholder="请输入验证码" />
        </label>
        <div class="login-new-yxq">新用户或忘记密码？&nbsp;&nbsp;<span class="balanced">短信获取</span>&nbsp;&nbsp;</div>
        <div class="margin-10-yxq">
            <a class="button button-block button-balanced" style="border:none;" href="#/bikebon/home">
                登录
            </a>
        </div>
        <div class="color-b3-jx font-12-yxq">马上使用即表示已经同意<span class="balanced">《百客邦用户服务协议》</span></div>
    </div>
</ion-content>
</ion-view>