<ion-view view-title="我&nbsp;&nbsp;&nbsp;&nbsp;的" class="bg-color-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button icon ion-ios-gear-outline button-clear" menu-toggle="right" href="#/bike/settings"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-thumbnail-left">
                <img  src="img/headShow/user_s.png" style="width: 75px; height: 75px;">
                <div style="align-items: center;margin-top: 15px;">
                    <p style="font-size: 20px;margin-bottom: 10px;">18810525301</p>
                    <span style="margin-right: 7px;color: #b3b3b3;font-size: 14px;">未认证用户</span><a href="#/bike/identity" style="color: #90b622;text-decoration: none;font-size: 14px;" >立即认证</a>
                </div>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/bike/myPurse" >
                <i class="icon yxq_wallet"></i>
                我的钱包
                <i class="icon ion-ios-arrow-right" ></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/bike/myCoupon">
                <i class="icon ion-ios-pricetag-outline"></i>
                我的券
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/bike/myOrder">
                <i class="icon ion-ios-list-outline"></i>
                我的订单
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-android-share-alt"></i>
                分享
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/bike/feedback">
                <i class="icon yxq_feedback"></i>
                反馈
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/bike/aboutBikebon">
                <i class="icon yxq_about"></i>
                关于百客邦
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div ui-view="mines"></div>
    </ion-content>
</ion-view>

