<ion-view view-title="我的" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button icon ion-ios-gear-outline button-clear" menu-toggle="right" href="#/bikebon/settings"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" scrollbar-y="false">
        <ion-list>
            <ion-item class="item-thumbnail-left img-gj item-icon-right">
                <div class="photo-gj"><img src="img/headShow/defaultUser_1.png" /></div>
                <div class="item-center-yxq margin-22-top" ng-show="!loginFlag">
                    <a class="balanced font-18-gj text-none-gj" href="#/login">立即登录</a>
                </div>
                <div class="item-center-yxq margin-18-top" ng-show="loginFlag&&!verifyFlag">
                    <div class="mine-color-gj"><a class="margin-6-bottom font-17-yxq">{{user.userName}}</a></div>
                    <span class="font-14-yxq color-b3-jx" style="margin-right:7px;">未认证用户</span>
                    <a class="font-14-yxq balanced text-none-gj" href="#/bikebon/identity">立即认证</a>
                </div>
                <div class="item-center-yxq margin-18-top" ng-show="loginFlag&&verifyFlag">
                    <div class="mine-color-gj"><a class="margin-6-bottom font-17-yxq">{{user.userName}}</a></div>
                    <div class="font-14-yxq balanced text-none-gj">{{verifyMess}}</div>
                </div>
                <i class="icon ion-ios-arrow-right img-right-gj" ng-show="loginFlag"></i>
            </ion-item>
            <div class="mine-time-gj" ng-show="loginFlag">
                <a class="mine-yuan-gj text-none-gj" href="#/bikebon/myBalance">
                    <div class="mine-magin-gj">
                        <div class="mine-big-gj">{{user.deposit | roundNum}}</div>
                        <div class="mine-small-gj">{{user.deposit | limitTo : -3}}元</div>
                        <div class="mine-money-gj">我的余额</div>
                    </div>
                </a>
                <a class="mine-yuan-gj text-none-gj" href="#/bikebon/normalTime">
                    <div class="mine-magin-gj">
                        <div class="mine-bigo-gj">{{user.baseTime | roundNum}}</div>
                        <div class="mine-smallo-gj">{{user.baseTime | limitTo : -3}}小时</div>
                        <div class="mine-moneyo-gj">普通时间</div>
                    </div>
                </a>
                <a class="mine-yuan-gj mine-border-gj text-none-gj" href="#/bikebon/advancedTime">
                    <div class="mine-magin-gj">
                        <div class="mine-bigx-gj">{{user.upscaleTime | roundNum}}</div>
                        <div class="mine-smallx-gj">{{user.upscaleTime | limitTo : -3}}小时</div>
                        <div class="mine-moneyx-gj">高级时间</div>
                    </div>
                </a>
            </div>
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/myCoupon">
                <i class="icon yxq_coupon"></i>
                我的券
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/myOrder">
                <i class="icon yxq_order"></i>
                我的订单
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#">
                <i class="icon yxq_share"></i>
                分享
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/feedback">
                <i class="icon yxq_feedback"></i>
                反馈
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/aboutBikebon">
                <i class="icon yxq_about"></i>
                关于百客邦
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

