<ion-view view-title="我的" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button icon ion-ios-gear-outline button-clear" menu-toggle="right" href="#/bikebon/settings"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" scrollbar-y="false">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img class="pic-65-yxq" src="img/headShow/defaultUser_1.png" />
                <div style="align-items:center;margin-top:15px;">
                    <div class="margin-10-bottom font-17-yxq">最讨厌想昵称</div>
                    <span class="font-14-yxq color-b3-jx" style="margin-right:7px;">未认证用户</span>
                    <a class="font-14-yxq balanced" href="#/bikebon/identity" style="text-decoration:none;">立即认证</a>
                </div>
            </ion-item>
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/myPurse" >
                <i class="icon yxq_wallet"></i>
                我的钱包
                <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/myCoupon">
                <i class="icon ion-ios-pricetag-outline"></i>
                我的券
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/myOrder">
                <i class="icon ion-ios-list-outline"></i>
                我的订单
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#">
                <i class="icon ion-android-share-alt"></i>
                分享
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/feedback">
                <i class="icon yxq_feedback"></i>
                反馈
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/bikebon/aboutBikebon">
                <i class="icon yxq_about"></i>
                关于百客邦
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

