<ion-view view-title="租车" class="color-bg-jx">
    <ion-content scrollbar-y="false">
        <div class="rentBike-bg-gj">
            <div class="rentBike-300-gj" >
                <img src="img/rentShop.png"/>
            </div>
            <div class="rentBike-light-gj">
                <a class="rentBike-items-gj item-icon-left item-icon-right" href="#" style="border-top: 0px;">
                    <i class="icon ion-ios-location-outline color-83-gj"></i>
                    <span class="font-left-yxq">{{rentStop.lenderName | limitTo : 9}}...</span>
                    <span class="rentBike-item-gj">{{rentStop.lenderScore}}分</span>
                    <i class="icon ion-ios-arrow-right color-83-gj"></i>
                </a>
            </div>
        </div>

        <div class="list gittop">
            <a class="item item-thumbnail-left" href="#/bikebon/rentBike/{{bike.bikeTypeId}}" ng-repeat="bike in bikes">
                <img src={{bike.bikeTypePhotoUrl}} />
                <h2>{{bike.bikeTypeName}}&nbsp;&nbsp;&nbsp;<span class="color-b3-jx">{{bike.BikeTypeScore}}分</span></h2>
                <br />
                <div class="row all-0-yxq">
                    <div class="col col-30 color-b3-jx">剩余<span class="font-38-yxq balanced">{{bike.available}}</span>辆</div>
                    <div class="col col-30 color-b3-jx">总共<span class="font-38-yxq color-59-jx">{{bike.total}}</span>辆</div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>