<ion-view view-title="最新活动">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="activity-img-gj">
            <img src="img/bikes/activity1.jpg" alt=""/>
        </div>
        <div class="activity-img-gj">
            <img src="img/bikes/activity2.png" alt=""/>
        </div>
    </ion-content>
</ion-view>