<ion-view view-title="关于百客邦">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false" style="background-color: #f2f2f2">
        <div  style="font-size: 14px;color: #666666;margin-left: 15px;margin-right: 15px;margin-top: 15px;margin-bottom: 15px">
        百客邦简介<br/>

        百客邦是浙江桃李网络有限公司旗下产品。<br/>
        桃李网络成立于2011年，致力于移动互联网、人工智能方向的研发和推广，用科技改造生活。百客邦是一个出租高端智能自行车的城市绿色出行服务平台。<br/>

        </div>

    </ion-content>
</ion-view>