<ion-view hide-tabs view-title="订单详情">
    <ion-content scrollbar-y="false">
        <ion-list style="background: #f2f2f2">
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item style="padding-top: 0px;padding-bottom: 10px;" class="details-bg-gj">
                <div class="details-finish-gj"><img src="img/finish.png"/></div>
                <div class="row font-14-yxq" style="padding-top: 3px;padding-bottom: 3px;">
                    <a class="col col-50 ">订单号：8795848051</a>
                </div>
                <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                <div class="row" style="padding-top: 8px;padding-bottom: 8px;">

                    <div style="margin-right: 8px; " class="details-img-gj">
                        <img class="order-img-f" src="img/me_black.png" />
                    </div>
                    <div class="details-word-gj">
                        <a>张三</a>
                    </div>
                    <div style="margin-right: 8px;" class="details-iphone-gj">
                        <img class="order-img-f" src="img/iphnoe_black.png" />
                    </div>
                    <div class="details-word-gj">
                        <a>18810237291</a>
                    </div>

                </div>

            </ion-item>
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item style="padding-top: 0px;padding-bottom: 10px;">
                <div class="row font-14-yxq" style="padding-top: 2px;padding-bottom: 3px;">
                    <div class="col col-50 ">浙江大学软件学院租车点</div>
                </div>
                <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                    <div style="margin-right: 13px;">
                        <img class="order-img-gj" src="img/bikes/mountain.png" />
                    </div>
                    <div>
                        <h2>男士山地车S602</h2>
                     <span>
                         <div class="order-span-gj">JT6S001</div>
                         <div class="order-span-f">12:00~12:40</div>
                     </span>
                    </div>
                </div>
                <hr class="hr-yxq"/>
                    <span class="details-flow-gj">
                        <a class="order-span-gj details-text-gj">费用：¥15.00</a>
                         <a class="order-span-gj details-text-gj">时长：199分钟</a>
                     </span>
                <hr class="hr-gj"/>
                <div class="text-right">
                    <button class="button button-block button-light" style="border:none;border: 1px solid #e5e5e5;border-radius: 8px;">
                        联系商家
                    </button>
                </div>
            </ion-item>
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item style="padding-top: 0px;padding-bottom: 10px;">
                <div class="row font-14-yxq" style="padding-top: 4px;padding-bottom: 3px;">
                    <div class="col col-50 ">支付方式</div>
                    <div class="col col-50 text-right">余额在线支付</div>
                </div>
                <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                <div class="row row-gj" style="padding-top: 2px;padding-bottom: 3px;">
                    <div>
                        <span>租金总额</span>
                    </div>
                    <div style="position: absolute; right: 20px;color: #91B821">
                        ¥&nbsp;15.00
                    </div>
                </div>
                <hr class="hr-wgj"/>
                <div class="row row-gj" style="padding-top: 2px;padding-bottom: 3px;">
                    <div>
                        <span>优惠减免</span>
                    </div>
                    <div style="position: absolute; right: 20px;color: #91B821">
                        ¥&nbsp;3.00
                    </div>
                </div>
                <hr class="hr-wgj"/>
                <div class="row row-gj" style="padding-top: 2px;padding-bottom: 3px;">
                    <div>
                        <span>实际付款</span>
                    </div>
                    <div style="position: absolute; right: 20px;color: #91B821">
                        ¥&nbsp;12.00
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-divider-gj"></ion-item>
            <div class="text-right text-top-gj details-color-gj">
                <a class="button button-light button-small" href="#/bikebon/evaluateOrder">评价订单</a>
                <button class="button button-balanced button-small" style="margin-right: 20px;margin-left: 15px">再次租用</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>