<ion-view view-title="高级时间" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <ion-list>
            <div class="balanced-yuan-gj text-center" style="color: #FFB747">{{local}}<span style="font-size: 12px">小时</span></div>
            <div class="time-money-gj">套餐一&nbsp&nbsp80<span style="font-size: 10px">元</span>／50<span style="font-size: 10px">小时</span>
                <a class="button button-balanced button-small" style="margin-top: 4px;position: absolute;right: 16px" href="#/myMoney">充值</a>
            </div>
            <div class="time-money-gj">套餐二&nbsp&nbsp160<span style="font-size: 10px">元</span>／120<span style="font-size: 10px">小时</span>
                <a class="button button-balanced button-small" style="margin-top: 4px;position: absolute;right: 16px" href="#/myMoney">充值</a>
            </div>
            <ion-item class="item-balanced-gj">
                最近30天消费记录
            </ion-item>
            <div class="balanced-online-gj" ng-repeat="d in data">
                <div class="balanced-left-gj">
                    <p>{{d.billSource}}</p>
                    <p class="font-12-yxq color-86-gj">剩余时长：{{d.upscaleTimeAfterPay}}</p>
                </div>
                <div class="balanced-right-gj font-12-yxq">
                    <p class="color-7f-gj">{{d.finishTime}}</p>
                    <p ng-class="{true:'color-ff-gj', false:'color-90-gj'}[{{d.billFee | plusFlag}}]"><span ng-hide="d.billFee | plusFlag">+</span>{{d.billFee}}</p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>