<ion-view view-title={{words}} class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="getsuccess-img-gj" ng-show="success">
            <img src="img/fail_Success/right.png"/>
            <div class="getsuccess-word-gj" style="color: #91B431;font-size: 15px;">充值成功</div>
            <p style="text-align: center;color: #90B622;margin-left: -50px;margin-right: -50px;margin-top: 8px;font-size: 12px;">充值金额会在充值后两小时内进入您的账户</p>
        </div>
        <div class="getsuccess-img-gj" ng-hide="success">
            <img src="img/fail_Success/wrong.png"/>
            <div class="getsuccess-word-gj" style="font-size: 15px;color: #D97E7E;">充值失败</div>
        </div>
    </ion-content>
        <a class="balanced font-14-yxq login-cancel-yxq text-right" style="text-decoration: none" href="#/myBalance">
        我的余额
        </a>
</ion-view>