<ion-view hide-tabs view-title="我的余额">
    <ion-content scrollbar-y="false">
        <ion-list style="background: #f2f2f2">
            <div class="balanced-yuan-wgj text-center">500.00<span style="font-size: 12px">元</span></div>
            <div class="text-center">
                <a class="button button-assertive button-large" href="#">余额提现</a>
                <button class="button button-balanced button-large" style="margin-left: 15px;margin-bottom: 15px;">现金充值</button>
            </div>
            <ion-item class="item-balanced-gj">
                最近30天收支明细
            </ion-item>
            <div class="balanced-online-gj">
                <div class="balanced-left-gj">
                    <p>在线支付</p>
                    <p style="color: #868887;font-size: 12px">余额：184.00</p>
                </div>
                <div class="balanced-right-gj">
                    <p style="color: #7F8382;font-size: 12px">2015-07-25</p>
                    <p style="color: #FF0101;font-size: 12px">-15.00</p>
                </div>
            </div>
            <div class="balanced-online-gj">
                <div class="balanced-left-gj">
                    <p>在线支付</p>
                    <p style="color: #868887;font-size: 12px">余额：199.00</p>
                </div>
                <div class="balanced-right-gj">
                    <p style="color: #7F8382;font-size: 12px">2015-07-23</p>
                    <p style="color: #90B623;font-size: 12px">+15.00</p>
                </div>
            </div>
            <div class="balanced-online-gj">
                <div class="balanced-left-gj">
                    <p>在线支付</p>
                    <p style="color: #868887;font-size: 12px">余额：199.00</p>
                </div>
                <div class="balanced-right-gj">
                    <p style="color: #7F8382;font-size: 12px">2015-07-23</p>
                    <p style="color: #90B623;font-size: 12px">+15.00</p>
                </div>
            </div>
            <div class="balanced-online-gj">
                <div class="balanced-left-gj">
                    <p>在线支付</p>
                    <p style="color: #868887;font-size: 12px">余额：199.00</p>
                </div>
                <div class="balanced-right-gj">
                    <p style="color: #7F8382;font-size: 12px">2015-07-23</p>
                    <p style="color: #90B623;font-size: 12px">+15.00</p>
                </div>
            </div>
            <div class="balanced-online-gj">
                <div class="balanced-left-gj">
                    <p>在线支付</p>
                    <p style="color: #868887;font-size: 12px">余额：199.00</p>
                </div>
                <div class="balanced-right-gj">
                    <p style="color: #7F8382;font-size: 12px">2015-07-23</p>
                    <p style="color: #90B623;font-size: 12px">+15.00</p>
                </div>
            </div>
            <div class="balanced-online-gj">
                <div class="balanced-left-gj">
                    <p>在线支付</p>
                    <p style="color: #868887;font-size: 12px">余额：199.00</p>
                </div>
                <div class="balanced-right-gj">
                    <p style="color: #7F8382;font-size: 12px">2015-07-23</p>
                    <p style="color: #90B623;font-size: 12px">+15.00</p>
                </div>
            </div>
            <div class="balanced-online-gj">
                <div class="balanced-left-gj">
                    <p>在线支付</p>
                    <p style="color: #868887;font-size: 12px">余额：199.00</p>
                </div>
                <div class="balanced-right-gj">
                    <p style="color: #7F8382;font-size: 12px">2015-07-23</p>
                    <p style="color: #90B623;font-size: 12px">+15.00</p>
                </div>
            </div>
            <ion-item class="item-divider-gj"></ion-item>
        </ion-list>
    </ion-content>
</ion-view>