<ion-view view-title="我的券" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="padding-top: 20px;" scrollbar-y="false">
        <div align="center">
            <div class="coupon-bg-gj text-left-gj">
                <img src="img/coupon.png"/>
                <div class="myCoupon-word-gj">
                    <div class="couponoo-font2-gj">2</div>
                    <div class="couponoo-font3-gj">小时</div>
                    <div class="couponox-font4-gj">时长优惠[减免2小时]</br></div>
                    <div class="couponox-font5-gj">{捷安特602S&捷安特拿铁}</div>
                    <div class="couponox-font6-gj">2015.08.25至2015.08.27</div>
                </div>
            </div>
            <div class="coupon-bg-gj text-left-gj">
                <img src="img/coupono.png"/>
                <div class="myCoupon-word-gj">
                    <div class="couponox-font2-gj">2</div>
                    <div class="couponox-font3-gj">小时</div>
                    <div class="couponox-font4-gj">时长优惠[减免2小时]</br></div>
                    <div class="couponox-font5-gj">{捷安特OCR2800&ROCKER}</div>
                    <div class="couponox-font6-gj">2015.08.25至2015.08.27</div>
                </div>
            </div>
            <div class="coupon-bg-gj text-left-gj">
                <img src="img/coupon.png"/>
                <div class="myCoupon-word-gj">
                    <div class="couponoo-font2-gj">2</div>
                    <div class="couponoo-font3-gj">小时</div>
                    <div class="couponox-font4-gj">时长优惠[减免2小时]</br></div>
                    <div class="couponox-font5-gj">{捷安特602S&捷安特拿铁}</div>
                    <div class="couponox-font6-gj">2015.08.25至2015.08.27</div>
                </div>
            </div>
            <div class="coupon-bg-gj text-left-gj">
                <img src="img/coupono.png"/>
                <div class="myCoupon-word-gj">
                    <div class="couponox-font2-gj">2</div>
                    <div class="couponox-font3-gj">小时</div>
                    <div class="couponox-font4-gj">时长优惠[减免2小时]</br></div>
                    <div class="couponox-font5-gj">{捷安特OCR2800&ROCKER}</div>
                    <div class="couponox-font6-gj">2015.08.25至2015.08.27</div>
                </div>
            </div>
            <div class="coupon-bg-gj text-left-gj">
                <img src="img/coupon.png"/>
                <div class="myCoupon-word-gj">
                    <div class="couponoo-font2-gj">2</div>
                    <div class="couponoo-font3-gj">小时</div>
                    <div class="couponox-font4-gj">时长优惠[减免2小时]</br></div>
                    <div class="couponox-font5-gj">{捷安特602S&捷安特拿铁}</div>
                    <div class="couponox-font6-gj">2015.08.25至2015.08.27</div>
                </div>
            </div>
            <div class="coupon-bg-gj text-left-gj">
                <img src="img/coupono.png"/>
                <div class="myCoupon-word-gj">
                    <div class="couponox-font2-gj">2</div>
                    <div class="couponox-font3-gj">小时</div>
                    <div class="couponox-font4-gj">时长优惠[减免2小时]</br></div>
                    <div class="couponox-font5-gj">{捷安特OCR2800&ROCKER}</div>
                    <div class="couponox-font6-gj">2015.08.25至2015.08.27</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>