<ion-view hide-tabs view-title="我的券" class="color-bg-jx">
    <ion-content style="padding-top: 20px;" scrollbar-y="false">
        <div align="center">
            <div class="coupon-bg-gj text-left">
                    <div class="coupon-font2-gj">¥</div>
                    <div class="coupon-font3-gj">5</div>
                    <div class="coupon-font4-gj">优惠券[满20即可使用]</br></div>
                    <div class="coupon-font5-gj">有效期2015.7.28-2015.9.28</div>
            </div>
            <div class="coupon-bg-gj text-left">
                <div class="coupon-font2-gj">¥</div>
                <div class="coupon-font3-gj">5</div>
                <div class="coupon-font4-gj">优惠券[满20即可使用]</br></div>
                <div class="coupon-font5-gj">有效期2015.7.28-2015.9.28</div>
            </div>
            <div class="coupon-bg-gj text-left">
                <div class="coupon-font2-gj">¥</div>
                <div class="coupon-font3-gj">5</div>
                <div class="coupon-font4-gj">优惠券[满20即可使用]</br></div>
                <div class="coupon-font5-gj">有效期2015.7.28-2015.9.28</div>
            </div>
            <div class="coupon-bg-gj text-left">
                <div class="coupon-font2-gj">¥</div>
                <div class="coupon-font3-gj">5</div>
                <div class="coupon-font4-gj">优惠券[满20即可使用]</br></div>
                <div class="coupon-font5-gj">有效期2015.7.28-2015.9.28</div>
            </div>
        </div>
    </ion-content>
</ion-view>