<ion-view view-title="ID" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" menu-toggle="right">保存</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <ion-item class="information-men-gj item-input" style="margin-top: 20px;">
            <input type="text" placeholder="18810525301">
        </ion-item>
    </ion-content>
</ion-view>