<ion-view hide-tabs view-title="个人信息" class="color-bg-jx">
    <ion-content scrollbar-y="false">
        <div class="information-bg-gj">
            <ion-item class="information-id-gj item-icon-right">
                <span style="line-height: 62px;font-size: 18px;color: #000;">头像</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="information-men-gj item-icon-right">
                <span style="font-size: 16px;color: #000;">ID</span>
                <span style="font-size: 15px;color: #A6A6A6;float: right">18810525301</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="information-men-gj item-icon-right">
                <span style="font-size: 16px;color: #000;">性别</span>
                <span style="font-size: 15px;color: #A6A6A6;float: right">女</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>