<ion-view view-title="个人信息" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="information-bg-gj">
            <ion-item class="information-id-gj item-icon-right">
                <span style="line-height: 62px;font-size: 18px;color: #000;">头像</span>
                <img src="img/headShow/defaultUser_1.png" style="width: 60px;height: 60px;float: right"  ng-click="show()"/>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <div class="information-men-gj">
                <span style="font-size: 16px;color: #000;line-height: 50px;margin-left: 20px">ID</span>
                <span style="font-size: 15px;float: right;line-height: 50px;margin-right: 20px"><span
                        ng-bind="ID"></span></span>
            </div>
            <ion-item class="information-men-gj item-icon-right" href="#/mySex">
                <span style="font-size: 16px;color: #000;">性别</span>
                <span style="font-size: 15px;color: #A6A6A6;float: right">
                    <span ng-bind="sex"></span>
                </span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>