<ion-view view-title="{{heads}}" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-footer" scrollbar-y="false">
        <form name="moneyForm" class="list" style="margin-top: 15px;margin-bottom: 0px;">
            <label class="item item-input">
                <span class="input-label">金额(元)</span>
                <input type="text" name="money" ng-model="money" required ng-pattern="/^\d+(\.\d+)?$/"
                       placeholder="{{words}}" style="font-size: 14px;"/>
            </label>
        </form>
        <div style="width: 100%;height: 15px;background-color: #f2f2f2"></div>
        <ion-list>
            <div class="text-120-gj">
                <span style="font-size: 16px;margin-left: 20px;line-height: 70px">选择支付方式</span>
            </div>
            <div class="text-150-gj">
                <ul class="list">
                    <li class="item item-checkbox" style="padding-top: 8px;padding-bottom: 8px" ng-click="myprompt()">
                        <div class="checkbox">
                            <input type="radio" name="pays" />
                        </div>
                        <div style="float: left;margin-left: 0px;width: 40px;height: 40px;line-height:70px">
                            <img ng-src="img/icon_wechat.png" style="height: 100%;width: 100%">
                        </div>
                        <div style="line-height: 40px;padding-left: 50px">微信支付</div>
                    </li>
                    <li class="item item-checkbox" style="padding-top: 8px;padding-bottom: 8px">
                        <div class="checkbox">
                            <input type="radio" name="pays" checked>
                        </div>
                        <div style="float: left;margin-left: 0px;width: 40px;height: 40px;line-height: 70px">
                            <img ng-src="img/icon_alipay.png" style="height: 100%;width: 100%">
                        </div>
                        <div style="line-height: 40px;padding-left: 50px">支付宝支付</div>
                    </li>
                </ul>
            </div>
            <div style="margin: 5px 25px;">
                <button class="button button-block button-balanced" style="border:none;" ng-disabled="moneyForm.money.$error.required || moneyForm.money.$error.pattern" ng-click="payMoney()">
                    {{foots}}
                </button>
            </div>
        </ion-list>


    </ion-content>

</ion-view>