<ion-view view-title="订单">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-light tabs-striped tabs-top">
        <ion-tab title="全部订单">
            <ion-view class="color-bg-jx">
                <ion-content scrollbar-y="false">
                    <ion-list style="background: #f2f2f2">
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right color-b3-jx" style="color: #6C6BD0">订单待支付</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 0.00元</div>
                                     <div class="order-span-f">时长： 0分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;0.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/immediatePay">立即支付</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right color-ora-jx">订单审核中</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 0.00元</div>
                                     <div class="order-span-f">时长： 0分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;0.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/cancellationOrder">取消订单</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right color-b3-jx" style="color: #6C6BD0">订单待支付</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 0.00元</div>
                                     <div class="order-span-f">时长： 0分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;0.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/immediatePay">立即支付</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right color-ora-jx">订单审核中</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 0.00元</div>
                                     <div class="order-span-f">时长： 0分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;0.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/cancellationOrder">取消订单</a>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="待付款">
            <ion-view class="color-bg-jx">
                <ion-content scrollbar-y="false">
                    <ion-list style="background: #f2f2f2">
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right color-b3-jx" style="color: #6C6BD0">订单待支付</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 0.00元</div>
                                     <div class="order-span-f">时长： 0分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;0.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/immediatePay">立即支付</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right color-b3-jx" style="color: #6C6BD0">订单待支付</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 0.00元</div>
                                     <div class="order-span-f">时长： 0分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;0.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/immediatePay">立即支付</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right color-b3-jx" style="color: #6C6BD0">订单待支付</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 0.00元</div>
                                     <div class="order-span-f">时长： 0分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;0.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/immediatePay">立即支付</a>
                            </div>
                        </ion-item>

                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="待评价">
            <ion-view class="color-bg-jx">
                <ion-content scrollbar-y="false">
                    <ion-list style="background: #f2f2f2">
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="已完成">
            <ion-view class="color-bg-jx">
                <ion-content scrollbar-y="false">
                    <ion-list style="background: #f2f2f2">
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider-gj"></ion-item>
                        <ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/orderDetail">
                            <div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">
                                <div class="col col-50 ">浙大软院租车点</div>
                                <div class="col col-50 text-right balanced">订单已完成</div>
                            </div>
                            <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                            <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                                <div style="margin-right: 13px;">
                                    <img class="order-img-f" src="img/bikes/mountain.png" />
                                </div>
                                <div>
                                    <h2>山地车</h2>
                                 <span>
                                     <div class="order-span-f">费用： 15.00元</div>
                                     <div class="order-span-f">时长： 40分钟</div>
                                 </span>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    ¥&nbsp;15.00
                                </div>
                            </div>
                            <hr class="hr-yxq"/>
                            <div class="text-right">
                                <a class="button button-light button-small" href="#/evaluateOrder">评价订单</a>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>







<!--<ion-view view-title="订单" hide-tabs>-->
    <!--<ion-content scrollbar-y="false">-->
        <!--<ion-list style="background: #f2f2f2">-->
            <!--<ion-item class="item-divider-gj"></ion-item>-->
            <!--<ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/bikebon/orderDetail">-->
                <!--<div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">-->
                    <!--<div class="col col-50 ">浙大软院租车点</div>-->
                    <!--<div class="col col-50 text-right balanced">订单已完成</div>-->
                <!--</div>-->
                <!--<hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>-->
                <!--<div class="row" style="padding-top: 2px;padding-bottom: 3px;">-->
                    <!--<div style="margin-right: 13px;">-->
                        <!--<img class="order-img-f" src="img/bikes/mountain.png" />-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<h2>山地车</h2>-->
                     <!--<span>-->
                         <!--<div class="order-span-f">费用： 15.00元</div>-->
                         <!--<div class="order-span-f">时长： 40分钟</div>-->
                     <!--</span>-->
                    <!--</div>-->
                    <!--<div style="position: absolute; right: 20px;">-->
                        <!--¥&nbsp;15.00-->
                    <!--</div>-->
                <!--</div>-->
                <!--<hr class="hr-yxq"/>-->
                <!--<div class="text-right">-->
                    <!--<a class="button button-light button-small" href="#/bikebon/evaluateOrder">评价订单</a>-->
                <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="item-divider-gj"></ion-item>-->
            <!--<ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/bikebon/orderDetail">-->
                <!--<div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">-->
                    <!--<div class="col col-50 ">浙大软院租车点</div>-->
                    <!--<div class="col col-50 text-right color-b3-jx" style="color: #6C6BD0">订单待支付</div>-->
                <!--</div>-->
                <!--<hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>-->
                <!--<div class="row" style="padding-top: 2px;padding-bottom: 3px;">-->
                    <!--<div style="margin-right: 13px;">-->
                        <!--<img class="order-img-f" src="img/bikes/mountain.png" />-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<h2>山地车</h2>-->
                     <!--<span>-->
                         <!--<div class="order-span-f">费用： 0.00元</div>-->
                         <!--<div class="order-span-f">时长： 0分钟</div>-->
                     <!--</span>-->
                    <!--</div>-->
                    <!--<div style="position: absolute; right: 20px;">-->
                        <!--¥&nbsp;0.00-->
                    <!--</div>-->
                <!--</div>-->
                <!--<hr class="hr-yxq"/>-->
                <!--<div class="text-right">-->
                    <!--<a class="button button-light button-small" href="#/bikebon/immediatePay">立即支付</a>-->
                <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="item-divider-gj"></ion-item>-->
            <!--<ion-item style="padding-top: 0px;padding-bottom: 0px;" href="#/bikebon/orderDetail">-->
                <!--<div class="row font-14-yxq" style="padding-top: 0px;padding-bottom: 3px;">-->
                    <!--<div class="col col-50 ">浙大软院租车点</div>-->
                    <!--<div class="col col-50 text-right color-ora-jx">订单审核中</div>-->
                <!--</div>-->
                <!--<hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>-->
                <!--<div class="row" style="padding-top: 2px;padding-bottom: 3px;">-->
                    <!--<div style="margin-right: 13px;">-->
                        <!--<img class="order-img-f" src="img/bikes/mountain.png" />-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<h2>山地车</h2>-->
                     <!--<span>-->
                         <!--<div class="order-span-f">费用： 0.00元</div>-->
                         <!--<div class="order-span-f">时长： 0分钟</div>-->
                     <!--</span>-->
                    <!--</div>-->
                    <!--<div style="position: absolute; right: 20px;">-->
                        <!--¥&nbsp;0.00-->
                    <!--</div>-->
                <!--</div>-->
                <!--<hr class="hr-yxq"/>-->
                <!--<div class="text-right">-->
                    <!--<a class="button button-light button-small" href="#/bikebon/cancellationOrder">取消订单</a>-->
                <!--</div>-->
            <!--</ion-item>-->
        <!--</ion-list>-->
    <!--</ion-content>-->
<!--</ion-view>-->