<ion-view hide-tabs view-title="我的钱包" class="color-bg-jx">
    <ion-content scrollbar-y="false">
        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-right" href="#/bikebon/income">
                    余额
                    <span class="item-note">224.00元</span>
                    <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
            <ion-item class="item-icon-right">
                充值
                <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
            <ion-item class="item-icon-right">
                余额转出
                <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>