<ion-view hide-tabs view-title="我的钱包" class="color-bg-jx">
    <ion-content>
        <ul class="list" style="margin-top: 25px;">
            <a class="item item-icon-right" href="#/bikebon/income">
                    余额
                    <span class="item-note">224.00元</span>
                    <i class="icon ion-ios-arrow-right" ></i>
            </a>
            <a class="item item-icon-right">
                充值
                <i class="icon ion-ios-arrow-right" ></i>
            </a>
            <a class="item item-icon-right">
                余额转出
                <i class="icon ion-ios-arrow-right" ></i>
            </a>
        </ul>
    </ion-content>
</ion-view>