<ion-view view-title="我的钱包" class="bg-color-jx">
    <ion-content>
        <ul class="list" style="margin-top: 25px;">
            <li class="item item-icon-right" href="#" >
                余额
                <span class="item-note">224.00元</span>
                <i class="icon ion-ios-arrow-right" ></i>
            </li>
            <li class="item item-icon-right" href="#" >
                充值
                <i class="icon ion-ios-arrow-right" ></i>
            </li>
            <li class="item item-icon-right" href="#" >
                余额转出
                <i class="icon ion-ios-arrow-right" ></i>
            </li>
        </ul>
    </ion-content>
</ion-view>