<ion-view view-title="订单详情" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <ion-list style="background: #f2f2f2">
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item style="padding-top: 0px;padding-bottom: 0px;" class="details-bg-gj">
                <div class="details-finish-gj">
                   <!-- <img ng-show="orderDetail.cancelStatus" ng-src="img/cancel.png"/>
                    <img ng-show="orderDetail.checkingStatus" ng-src="img/check.png"/>
                    <img ng-show="orderDetail.notPayStatus" ng-src="img/pay.png"/>
                    <img ng-show="orderDetail.notEvaluateStatus" ng-src="img/finish.png"/>
                    <img ng-show="orderDetail.Evaluated" ng-src="img/finish.png"/>
                    <img ng-show="orderDetail.bookStatus" ng-src="img/book.png"/>
                    <img ng-show="orderDetail.ingStatus" ng-src="img/ing.png"/>-->
                    <img src={{orderDetail.img}}>
                </div>
                <div class="row font-14-yxq" style="padding-top: 3px;padding-bottom: 3px;">
                    <a class="col col-50 ">订单编号:{{orderDetail.order_id}}</a>
                </div>
                <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                <div class="row" style="padding-top: 8px;padding-bottom: 8px;">

                    <div style="margin-right: 8px; " class="details-img-gj">
                        <img class="order-img-ff" src="img/me_black.png" />
                    </div>
                    <div class="details-word-gj">
                        <a>{{orderDetail.user_name}}</a>
                    </div>
                    <div style="margin-right: 8px;" class="details-iphone-gj">
                        <img class="order-img-ff" src="img/iphnoe_black.png" />
                    </div>
                    <div class="details-word-gj">
                        <a>{{orderDetail.user_phone}}</a>
                    </div>

                </div>

            </ion-item>
            <ion-item class="item-divider-yxq"></ion-item>
            <ion-item style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row font-14-yxq" style="padding-top: 2px;padding-bottom: 3px;">
                    <div class="col col-50 ">{{orderDetail.order_lender_belong_to}}</div>
                </div>
                <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                <div class="row" style="padding-top: 2px;padding-bottom: 3px;">
                    <div style="margin-right: 13px;">
                        <img class="order-img-gj" src={{orderDetail.order_bike_type_img}} />
                    </div>
                    <div>
                        <h2>{{orderDetail.order_bike_type_name}}</h2>
                     <span>
                         <div class="order-span-gj">{{orderDetail.order_bike_name}}</div>
                     </span>
                    </div>
                </div>
                <hr class="hr-yxq"/>
                    <span class="details-flow-gj" ng-show="orderDetail.calculateStatus">
                        <a class="order-spann-gj details-text-gj" >费用：¥&nbsp;{{orderDetail.order_should_pay | currency:''}}</a>
                        <a class="order-spann-gj details-text-gj">时长：&nbsp;{{orderDetail.bike_duration_time}}</a>
                     </span>
                    <span class="details-flow-gj" ng-show="!orderDetail.calculateStatus">
                        <a class="order-spann-gj details-text-gj" >费用：¥&nbsp;0.00</a>
                        <a class="order-spann-gj details-text-gj">时长：&nbsp;0分钟</a>
                     </span>
                <hr class="hr-gj" ng-show="orderDetail.return_bike_status"/>
                <div class="text-right">
                    <button class="button button-block button-balanced" style="border:none;border: 1px solid #e5e5e5;border-radius: 8px;">
                        联系商家
                    </button>
                </div>
                <hr class="hr-yxq"/>
                <p class="order-div-gj details-order-gj" ng-show="orderDetail.getBikeStatus">取车时间:{{orderDetail.order_get_bike_time}}</p>
                <p class="order-div-gj details-order-gj" style="margin-bottom: 5px;" ng-show="orderDetail.returnBikeStatus">还车时间:{{orderDetail.order_return_bike_time}}</p>
                <p class="order-div-gj details-order-gj" ng-show="orderDetail.cancelStatus">取消时间:{{orderDetail.order_cancel_time}}</p>
            </ion-item>
            <ion-item class="item-divider-yxq" ng-show="orderDetail.payStatus"></ion-item>
            <ion-item style="padding-top: 0px;padding-bottom: 0px;" ng-show="orderDetail.payStatus">
                <div class="row font-14-yxq" style="padding-top: 4px;padding-bottom: 3px;">
                    <div class="col col-50 ">支付方式</div>
                    <div class="col col-50 text-right">余额在线支付</div>
                </div>
                <hr class="hr-yxq" style="margin-top: 0px; padding-top: 0px;"/>
                <div class="row row-gj" style="padding-top: 2px;padding-bottom: 3px;">
                    <div>
                        <span>计费时长</span>
                    </div>
                    <div style="position: absolute; right: 20px;color: #91B821">
                        {{orderDetail.caclulate_time}}&nbsp;小时
                    </div>
                </div>
                <hr class="hr-wgj"/>
                <div class="row row-gj" style="padding-top: 2px;padding-bottom: 3px;">
                    <div>
                        <span>租金总额</span>
                    </div>
                    <div style="position: absolute; right: 20px;color: #91B821">
                        ¥&nbsp;{{orderDetail.order_should_pay | currency:''}}
                    </div>
                </div>
                <hr class="hr-wgj"/>
                <div class="row row-gj" style="padding-top: 2px;padding-bottom: 3px;">
                    <div>
                        <span>时长抵消</span>
                    </div>
                    <div style="position: absolute; right: 20px;color: #91B821">
                        {{orderDetail.time_pay}}&nbsp;小时
                    </div>
                </div>
                <hr class="hr-wgj"/>
                <div class="row row-gj" style="padding-top: 2px;padding-bottom: 10px;">
                    <div>
                        <span>实际付款</span>
                    </div>
                    <div style="position: absolute; right: 20px;color: #91B821">
                        ¥&nbsp;{{orderDetail.order_cost | currency:''}}
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-divider-gj" ng-show="orderDetail.payStatus"></ion-item>
            <div class="text-right text-top-gj details-color-gj" ng-show="orderDetail.payStatus">
                <a class="button button-light button-small" href="#/evaluateOrder" ng-show="orderDetail.notEvaluateStatus">评价订单</a>
                <a class="button button-light button-small" ng-show="orderDetail.Evaluated" ng-disabled="true">订单已评</a>
                <a class="button button-balanced button-small" style="margin-right: 20px;margin-left: 15px" href="#/bikeDetail">再次租用</a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>