<ion-view view-title="支付成功">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false" class="success-bg-gj">
        <div class="success-img-gj">
            <div class="information-img-gj">
                <img src="img/money.png"/>
                <div class="information-word-gj" style="color: #97BB41;font-size: 14px;">支付成功,店主将收到您的钱款</div>
            </div>
        </div>
        <div class="success-button-gj text-center" style="padding-top: 13px">
            <button class="button button-lightw button-large" href="#" style="color: #90B620;font-size: 15px" href="#/evaluateOrder">立即评价</button>
            <a class="button button-light button-large" style="margin-left: 15px;color: #CCCCCC;font-size: 15px" href="#/orderDetail">订单详情</a>
        </div>
        <div style="margin-top: 15px;margin-left: 20px;margin-right: 20px;color: #BBBBBB">
            <span style="font-size: 12px;margin-bottom: 10px">温馨提示:</span><br/>
            <span style="font-size: 10px">1.所租车辆需支付少量押金，车型不同，押金有所不同；百客邦APP账户余额少于押金时，无法租车。</span><br/>
            <span style="font-size: 10px">2.租赁不收过夜费，免费时间为23:00-次日8:00，8:00开始累计计费。</span>
        </div>
    </ion-content>
</ion-view>