<ion-view view-title="设&nbsp;&nbsp;&nbsp;&nbsp;置" class="bg-color-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ul class="list" style="margin-top: 25px;">
            <li class="item item-icon-right" href="#" >
                密码修改
                <i class="icon ion-ios-arrow-right" ></i>
            </li>
            <li class="item item-toggle">
                计时提醒
                <label class="toggle toggle-balanced">
                    <input type="checkbox"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                消息推送
                <label class="toggle toggle-balanced">
                    <input type="checkbox" checked="checked"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        <button class="button button-full button-light">
            退出登录
        </button>
    </ion-content>
</ion-view>