<ion-view hide-tabs view-title="设置" class="color-bg-jx">
    <ion-content scrollbar-y="false">
        <ul class="list" style="margin-top: 25px;">
            <li class="item item-icon-right" href="#" >
                密码修改
                <i class="icon ion-ios-arrow-right" ></i>
            </li>
            <li class="item item-toggle">
                计时提醒
                <label class="toggle toggle-balanced">
                    <input type="checkbox"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                消息推送
                <label class="toggle toggle-balanced">
                    <input type="checkbox" checked="checked"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        <button class="button button-full button-light">
            退出登录
        </button>
    </ion-content>
</ion-view>