<ion-view view-title="设置" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false" style="padding-top: 25px;">
        <ion-list>
            <ion-item class="item item-icon-right" href="#/login" >
                密码修改
                <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
            <ion-item class="item item-toggle">
                计时提醒
                <label class="toggle toggle-balanced">
                    <input type="checkbox"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
            <ion-item class="item item-toggle">
                消息推送
                <label class="toggle toggle-balanced">
                    <input type="checkbox" checked="checked"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
        </ion-list>
        <button class="button button-full button-light" ng-show="exitFlag" ng-click="exitBtn()">
            退出登录
        </button>
    </ion-content>
</ion-view>