<ion-view hide-tabs view-title="我有话说" class="bg-color-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear" menu-toggle="right">发表</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div style="margin-bottom: 13px;padding-top: 15px;">
            <textarea placeholder="   说点什么吧..." rows="7" style="width: 100%"></textarea>
        </div>
        <div style="background: #FFFFFF;padding-left: 20px;padding-top:8px;padding-bottom:8px;">
            <img src="img/line/dash_c.png" style="width:83px ;height:83px"/>
            &nbsp;
            <span style="color: #b3b3b3">添加照片</span>
        </div>
    </ion-content>
</ion-view>