<ion-view hide-tabs view-title="我有话说" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear" menu-toggle="right">发表</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div style="margin-bottom: 13px;padding-top: 15px;">
            <textarea placeholder="   说点什么吧..." rows="7" class="width"></textarea>
        </div>
        <div class="mySays-div-yxq">
            <img class="pic-83-yxq" src="img/line/dash_c.png" />
            &nbsp;
            <span class="color-b3-jx">添加照片</span>
        </div>
    </ion-content>
</ion-view>