<ion-view view-title="所有评论" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="bike-word-gj">新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
        <div class="bike-word-gj"><div>新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。</div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
        <div class="bike-word-gj">新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
        <div class="bike-word-gj"><div>新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。</div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
        <div class="bike-word-gj">新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
        <div class="bike-word-gj"><div>新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。</div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
        <div class="bike-word-gj">新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
        <div class="bike-word-gj"><div>新颖的外型、缤纷夺目的色彩、优越的骑行技能，抓地力很好，有减震器吸收冲击，整体体验良好。骑上山地车去拥抱大自然，既放松心情，又锻炼身体。</div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-img-gj">
                <img src="img/bikes/mountain.png">
            </div>
            <div class="bike-date-gj">
                <span style="float: left">18810525301</span>
                <span style="float: right">2015-7-28</span>
            </div>
        </div>
    </ion-content>
</ion-view>