<ion-view view-title="重要条款" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false" style="background-color: #f2f2f2">
        <div  style="font-size: 14px;color: #666666;margin-left: 15px;margin-right: 15px;margin-top: 15px;margin-bottom: 15px">
            1.在校师生下载“百客邦”APP后，需实名认证，同时绑定银行卡后，方可租车。<br/>
            2.所有车辆需支付少量押金，车型不同，押金有所不同；百客邦APP账户余额少于押金时，无法租车。<br/>
            3.租赁不收过夜费，免费时间为23:00-次日8:00，8:00开始累计计费。<br/>
            4.关于计费：百客邦租赁以半小时为计费单位。<br/>
            5.关于赔偿：（所有赔偿均为成本价，无人工费）<br/>
            &nbsp&nbsp车辆损坏，租赁者需承担维修费用。<br/>
            &nbsp&nbsp配件丢失，租赁者需按照成本价赔偿。<br/>
            &nbsp&nbsp车辆丢失，租赁者需按照成本价赔偿。<br/>
            6.百客邦暂未开通各网点异地还车功能，具体开通时间，请关注APP内相关公告。<br/>

        </div>

    </ion-content>
</ion-view>