<ion-view view-title="百客邦浙江大学软件学院租车点网点" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" back-btn></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="balanced-bg" style="height:200px;">
            租车点介绍还未开通，敬请期待！
        </div>
        <div>
            <app-map style="min-height:670px;height: 100%;width: 100%" address="浙江大学软件学院"> </app-map>
        </div>
    </ion-content>
</ion-view>