<ion-view view-title="发现">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button icon ion-ios-plus-empty button-clear" href="#/mySays" menu-toggle="right"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <!--<div class="pic-200-yxq text-center" style="background: url(img/find/find_bg.jpg) no-repeat center;padding-top:90px;">-->
        <div class="pic-200-gj text-center" >
            <img src="img/find/find_bg.jpg"/>
            <span class="font-14-gj light">轻触设置封面</span>
        </div>
        <div class="find-user-name-gj">
            <span class="font-16-gj">百客邦</span>
        </div>
        <div class="find-user-pic">
            <img class="pic-50-yxq" src="img/headShow/defaultUser_1.png" />
            <span style="margin-right:5px;"></span>
        </div>

        <div class="list">
            <div class="item item-body" style="padding: 0px;margin: 0px;border: 0px;">
                <div class="margin-10-top margin-10-bottom">
                    <div class="find-div-left">
                        <img class="pic-40-yxq" src="img/headShow/defaultUser_1.png" />
                    </div>
                    <div class="find-div-right">
                        <div class="balanced font-16-yxq">Mr.C</div>
                        <div class="font-15-yxq">宁波老外滩坐落于宁波市三江口北岸的江北区，地处宁波市中心，
                            位于甬江、奉化江和余姚江的三江汇流之地，唐宋以来就是最繁华的港口之一。建议大家骑行到老外滩看夜景！</div>
                        <div class="row" class="padding-0-yxq">
                            <span class="col col-40 font-13-yxq color-b3-jx padding-0-yxq">1分钟前</span>
                            <span class="col col-offset-10 col-40 find-icon-chat"><span class="col"><a href="#" class="ion ion-chatbox-working color-b3-jx"></a></span></span>
                        </div>
                        <div class="find-content">
                            <div class="ion ion-ios-heart-outline balanced padding-2-left">&nbsp;Dilemma,Anglet,Greeting</div>
                            <div>
                                <span class="balanced margin-2-left">Mr.C</span>
                                <span>：</span>
                                <span>这座原本中西合璧的优秀民居，建筑们楼独具个性。为了留住记忆，
                                    保持中马路街巷口的肌理，可识别性地保留了建筑原址，使之成为宁波外滩文化的一种时尚设计、景观建设和保护创意。</span>
                            </div>
                            <div>
                                <span class="balanced margin-2-left">Dilemma</span>
                                <span style="">回复</span>
                                <span class="balanced">Mr.C</span>
                                <span style="">：</span>
                                <span>虽然没有上海的外滩大，但风格更休闲，有更多的酒吧，外滩上的天主教堂晚上很好看。</span>
                            </div>
                            <div>
                                <span class="balanced margin-2-left">Anglet</span>
                                <span style="">回复</span>
                                <span class="balanced">Mr.C</span>
                                <span style="">：</span>
                                <span>很喜欢这里，虽然是新建的，但人没有上海外滩那么多，静静地看着江，感觉很好，街边有些小店，十分可爱。</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-yxq" />
            </div>
            <div class="item item-body" style="padding: 0px;margin: 0px;border: 0px;flex-flow: wrap;">
                <div class="margin-10-top margin-10-bottom">
                    <div class="find-div-left">
                        <img class="pic-40-yxq" src="img/headShow/defaultUser_1.png" />
                    </div>
                    <div class="find-div-right">
                        <div class="balanced font-16-yxq">Greeting</div>
                        <div class="font-15-yxq">东钱湖风景旅游区是浙江最大的淡水湖。由谷子湖、梅湖和外湖组成，相当于杭州西湖的四倍，可称“华夏沿海第一湖”。
                            东钱湖风光旖旎，湖四周群山环抱、绿树簇拥，岸线曲折、山重水复；形成独特的钱湖九景，湖中碧水清澈、烟波浩渺，美景天成。
                            身临其境，令人心旷神怡，宠辱皆忘。而这里地灵人杰，也有其悠久的历史、绚丽的文化，也是个人文荟萃之地。</div>
                        <div>
                            <img class="find-act-pic" src="img/find/rm.jpg" />
                        </div>
                        <div class="row" class="padding-0-yxq">
                            <span class="col col-40 font-13-yxq color-b3-jx padding-0-yxq">昨天08:48</span>
                            <span class="col col-offset-10 col-40 find-icon-chat"><span class="col"><a href="#" class="ion ion-chatbox-working color-b3-jx"></a></span></span>
                        </div>
                        <div class="find-content">
                            <div class="ion ion-ios-heart-outline balanced padding-2-left">&nbsp;Mr.C,Dilemma,Anglet,Greeting等9人觉得很赞</div>
                            <div>
                                <span class="balanced margin-2-left">Mr.C</span>
                                <span>：</span>
                                <span>东钱湖圆了一个骑双人车的梦，专业骑道上，湖光山色，荷花莲耦，风景如画。阵阵凉风吹过，真是舒畅！</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-yxq" />
            </div>
        </div>
    </ion-content>
</ion-view>