<ion-view view-title="租车" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button icon ion-ios-information-outline button-clear" href="#/myItem" menu-toggle="right"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="rentBike-bg-gj">
            <div class="rentBike-300-gj" >
                <img src="img/rentShop.png"/>
            </div>
            <div class="rentBike-light-gj">
                <a class="rentBike-items-gj item-icon-left item-icon-right" style="border-top: 0px;">
                    <i class="icon ion-ios-location-outline light"></i>
                    <span class="font-left-yxq">{{rentStop.lenderPosition | limitNum}}</span>
                    <span class="rentBike-item-gj">{{rentStop.lenderScore}}分</span>
                    <i class="icon ion-ios-arrow-right light"></i>
                </a>
            </div>
        </div>

        <div class="list margin-06-top">
            <a class="item item-thumbnail-left" href="#/rentBike/{{bike.bikeTypeId}}" ng-repeat="bike in bikes">
                <img src={{bike.bikeTypePhotoUrl}} />
                <h2>{{bike.bikeTypeName}}&nbsp;&nbsp;&nbsp;<span class="color-b3-jx">{{bike.BikeTypeScore}}分</span></h2>
                <br />
                <div class="row all-0-yxq">
                    <div class="col col-30 color-b3-jx">剩余<span class="font-38-yxq balanced">{{bike.available}}</span>辆</div>
                    <div class="col col-30 color-b3-jx">总共<span class="font-38-yxq color-59-jx">{{bike.total}}</span>辆</div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>