<ion-view hide-tabs view-title="详情" class="color-bg-jx">
    <ion-content scrollbar-y="false">
        <div class="detail-bike-gj">
            <img src="img/bikes/mountain_r.png" alt=""/>
        </div>
        <!--<div class="list">-->
            <!--<div class="item pic-200-yxq"><img src="img/bikes/mountain_r.png" alt=""/></div>-->
            <!--<div class="item item-body">-->
                <!--<h2>{{bike.bikeTypeName}}</h2>-->
                <!--<p>-->
                    <!--{{bike.bikeTypeDescription}}-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="list margin-10-top">
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    费用
                </a>
                <a class="tab-item" href="#">
                    评价
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title" href="#">
            确认租车
        </div>
    </div>
</ion-view>