<ion-view view-title="山地车" class="color-bg-jx">
    <ion-content>
        <div class="list margin-10-bottom">
            <div class="item pic-200-yxq" style="background: url(img/bikes/mountain_r.png) no-repeat center"></div>
            <div class="item item-body">
                <h2>山地车</h2>
                <p>
                    山地车，具有刚度大，行走灵活等特点，骑行时不必选择道路，
                    无论街巷漫游还是休闲代步都获得了广泛 的好评，骑车者可以在
                    各种路面环境上尽情地享受舒适的骑行乐趣。
                </p>
            </div>
        </div>
        <div class="list margin-10-top">
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    费用
                </a>
                <a class="tab-item" href="#">
                    评价
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title" href="#">
            确认租车
        </div>
    </div>
</ion-view>