<ion-view view-title="车子详情" class="color-bg-jx">
    <ion-content>
        <div class="list margin-10-bottom">
            <div class="item pic-200-yxq" style="background: url(img/bikes/mountain_r.png) no-repeat center"></div>
            <div class="item item-body">
                <h2>{{bike.bikeTypeName}}</h2>
                <p>
                    {{bike.bikeTypeDescription}}
                </p>
            </div>
        </div>
        <div class="list margin-10-top">
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    费用
                </a>
                <a class="tab-item" href="#">
                    评价
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title" href="#">
            确认租车
        </div>
    </div>
</ion-view>