<ion-view view-title="评价订单" class="color-bg-jx">
    <ion-content scrollbar-y="false">
        <div class="list">
            <div class="item item-avatar">
                <img src="img/bikes/mountain.png" />
                <h2>山地车</h2>
                <div class="balanced">
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star-half"></span>
                    <psan class="ion ion-ios-star-outline"></psan>
                </div>
            </div>
            <div class="item row evaluate-div-yxq">
                <textarea class="col col-70 evaluate-tx-yxq">亲，写点什么吧～您的意见对其他同学有很大的帮助！</textarea>
                <div class="col col-30 text-center">
                    <img class="pic-80-yxq" src="img/line/dash_c.png" />
                </div>
            </div>
            <div class="item" style="margin-top: 25px;">
                <div style="padding-bottom: 10px;">给店铺评分</div>
                <div style="padding-bottom: 5px;">
                    <span class="font-13-yxq">服务态度&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="balanced">
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star-half"></span>
                    <psan class="ion ion-ios-star-outline"></psan>
                </span>
                </div>
            </div>
        </div>
        <div style="margin: 5px 25px;">
            <button class="button button-balanced button-block button-none">
                发表评价
            </button>
        </div>
    </ion-content>
</ion-view>