<ion-view view-title="评价订单" class="bg-color-jx">
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="img/bikes/bike1.jpg" />
                <h2>山地车</h2>
                <div class="balanced">
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star-half"></span>
                    <psan class="ion ion-ios-star-outline"></psan>
                </div>
            </div>
            <div class="item row" style="padding-top: 15px;padding-bottom: 15px;padding-left:30px;border-right: none">
                <textarea class="col col-70" style="color:#808080;background: #f2f2f2;font-size: 12px;">亲，写点什么吧～您的意见对其他同学有很大的帮助！</textarea>
                <div class="col col-30" style="text-align:center;">
                    <img src="img/line/dash_c.png" style="width: 80px;height:80px;">
                </div>
            </div>
            <div class="item" style="margin-top: 25px;">
                <div style="padding-bottom: 10px;">给店铺评分</div>
                <div style="padding-bottom: 5px;">
                    <span style="font-size: 13px;">服务态度&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="balanced">
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star"></span>
                    <span class="ion ion-ios-star-half"></span>
                    <psan class="ion ion-ios-star-outline"></psan>
                </span>
                </div>
            </div>
        </div>
        <div style="margin: 5px 25px;">
            <button class="button button-balanced button-block" style="border: none">
                发表评价
            </button>
        </div>
    </ion-content>
</ion-view>