<ion-view view-title="我的行程" class="color-bg-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-buttons side="left">
            <a class="button icon ion-ios-arrow-left button-clear" menu-toggle="left" href="#/bikebon/home"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="schedule-div-up">
            <div class="pic-200-yxq" style="background: url(img/bikes/mountain_r.png) no-repeat center"></div>
            <hr class="hr-yxq">
            <div class="schedule-inDiv-up">
                <span class="font-17-yxq">山地车</span>
                <span class="font-15-yxq color-b3-jx">（编号1024）</span>
            </div>
        </div>
        <div class="schedule-div-down">
            <div class="schedule-div-downUp">
                <div class="font-50-yxq color-59-jx">
                    00:41:20
                </div>
                <br/>
                <div class="color-b3-jx">
                    开始停车时间：<span>2015-07-28 08:21:00</span>
                </div>
            </div>
            <hr class="hr-yxq">
            <div class="schedule-div-downDown">
                <div class="color-59-jx">
                    租车费用
                </div>
                <br/>
                <div class="balanced">
                    <span class="font-24-yxq">¥</span>
                    <span class="font-50-yxq">35.</span>
                    <span class="font-35-yxq">34</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>