<ion-view view-title="我的行程" class="bg-color-jx">
    <ion-nav-bar align-title="center" class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button icon ion-ios-arrow-left button-clear" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div style="background: #ffffff;margin-bottom: 15px;border-bottom: 1px #cccccc solid">
            <img src="img/bikes/bike8.jpg" class="pic-200-yxq"/>
            <hr style="border:0;background-color:#e6e6e6;height:1px;">
            <div style="text-align: center;padding-top:10px;padding-bottom:15px;">
                <span style="font-size:17px;">山地车</span>
                <span style="font-size:15px;color: #b3b3b3">（编号1024）</span>
            </div>
        </div>
        <div style="margin-top: 15px;border-top: 1px #cccccc solid;border-bottom: 1px #cccccc solid;background: #ffffff;padding-top: 10px;">
            <div style="padding-top: 25px;padding-left: 25px;padding-bottom: 18px;">
                <div style="font-size: 50px;color: #595959;">
                    00:41:20
                </div>
                <br/>
                <div style="color: #b3b3b3">
                    开始停车时间：<span>2015-07-28 08:21:00</span>
                </div>
            </div>
            <hr style="border:0;background-color:#e6e6e6;height:1px;">
            <div style="padding-left: 25px;padding-top: 8px;padding-bottom: 20px;">
                <div style="color:#595959;">
                    租车费用
                </div>
                <br/>
                <div class="balanced">
                    <span style="font-size: 24px;;">¥</span>
                    <span style="font-size: 50px">35.</span>
                    <span style="font-size: 35px;">34</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>