.login-bg-yxq{
    background: url(../img/bg.jpg) no-repeat center;
    text-align: center;
    padding-top: 25%;
}
.login-cancel-yxq{
    position: fixed;
    top:95%;
    right: 15px;
}
.home{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 0px;
}
.slide-box img{
    width: 100%;
    height: auto;
}
.home-middle{
    margin-bottom: 0px;
}
.home-middle img{
    width: 100%;
    height: auto;
    padding: 0px 6px 0 6px;
}
.home-bottom{
    margin:0 6px;
    overflow: hidden;
}
.home-bottom-img{
    width: 33.33333333%;
    height: auto;
    float: left;
}
.home-bottom-img img{
    width: 100%;
    height:auto;

}
.rentBike-bg-gj{
    background-color: #f2f2f2;
    position: relative;
}
.rentBike-300-gj{
    width: 100%;
    height: auto;
}
.rentBike-300-gj img{
    width: 100%;
    height: auto;
}
.rentBike-items-gj{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}
.rentBike-item-gj{
    float: right;
    color: white;
    padding-right:40px;
}
.gittop{
    margin-top: -6px;
}
.rentBike-light-gj{
    padding: 10px 0;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 100;
}
.rentBike-light-gj a{
    text-decoration: none;
    color: white;
}
.schedule-div-up{
    background: #ffffff;
    margin-bottom: 15px;
    border-bottom: 1px #cccccc solid;
}
.schedule-inDiv-up{
    text-align: center;
    padding-top:10px;
    padding-bottom:15px;
}
.schedule-div-down{
    margin-top: 15px;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
    background: #ffffff;
    padding-top: 10px;
}
.schedule-div-downUp{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 18px;
}
.schedule-div-downDown{
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 20px;
}
.find-user-name{
    color: #ffffff;
    margin-top: -20px;
    text-align: right;
    padding-right: 63px;
}
.find-user-name-gj{
    color: #ffffff;
    margin-top: -30px;
    text-align: right;
    padding-right: 63px;
}
.find-user-pic{
    text-align: right;
    margin-top: -25px;
}
.find-act-pic{
    height: 80px;
    width: auto;
}
.find-div-left{
    position: absolute;
    left: 15px;
    width: 50px;
    height: 100%;
}
.find-div-right{
    margin-left: 65px;
    height: 100%;
    padding-right: 5px;
}
.find-icon-chat{
    text-align: right;
    margin-right: 20px;
    padding: 0px;
}
.find-content{
    background: #f2f2f2;
    font-size: 13px;
    margin-right: 20px;
    padding-right: 2px;
}
.mySays-div-yxq{
    background: #FFFFFF;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.coupon-bg-gj{
    margin-bottom: 10px;
    height: auto;
    background: url("../img/coupon.png") no-repeat center;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;

}
.coupon-font2-gj{
    position: relative;
    top: 50px;
    left: -113px;
    font-size: 24px;
    color: #90B622;
}
.coupon-font3-gj{
    position: relative;
    top: 12.5px;
    left: -80px;
    font-size: 70px;
    color: #90B622;
}
.coupon-font4-gj{
    position: relative;
    top: -15px;
    left: 35px;
    font-size: 15px;
    color: #111111;

}
.coupon-font5-gj{
    position: relative;
    top: -11px;
    left: 35px;
    font-size: 12px;
    color: #999;
}
.order-img-f{
    width: 70px;
    height: 70px;
    padding: 1px 3px;
    border: 1px #cccccc solid;
}
.order-span-f{
    font-size: 12px;
    color: #808080;
}
.evaluate-div-yxq{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:30px;
    border-right: none
}
.evaluate-tx-yxq{
    color: #808080;
    background: #f2f2f2;
    font-size: 12px;
}
.button-none{
    border: none;
}
.color-b3-jx{
    color: #b3b3b3;
}
.color-83-jx{
    color: #808383;
}
.color-83-gj{
    color: white;
}
.color-59-jx{
    color: #595959;
}
.color-ora-jx{
    color: #feb84a;
}
.color-bg-jx{
    background-color: #f2f2f2;
}
.font-left-yxq {
    width: 100%;
    padding-left: 50px;
    /*padding-right: 90px;*/
    color: white;
    font-size: 15px;
}
.font-50-yxq{
    font-size: 50px;
}
.font-38-yxq{
    font-size: 38px;
}
.font-35-yxq{
    font-size: 35px;
}
.font-24-yxq{
    font-size: 24px;
}
.font-20-yxq{
    font-size: 20px;
}
.font-17-yxq{
    font-size: 17px;
}
.font-16-yxq{
    font-size: 16px;
}
.font-16-gj{
    font-size: 16px;
    color: black;
    opacity: 0.9;
}
.font-15-yxq{
    font-size: 15px;
}
.font-14-yxq{
    font-size: 14px;
}

.font-13-yxq{
    font-size: 13px;
}
.font-12-yxq{
    font-size:12px;
}
.hr-yxq{
    border: 0;
    background-color: #e6e6e6;
    height: 1px;
}
.pic-200-yxq{
    width: 100%;
    height: 200px;
}
.pic-200-yxq img{
    width: 100%;
    height: auto;
}
.pic-50-yxq{
    width: 50px;
    height: 50px;
    opacity: 0.9;
}
.pic-200-gj{
    width: 100%;
    height:auto;
    position: relative;
}
.pic-200-gj img{
    width: 100%;
    height: auto;
}
.font-14-gj{
    font-size: 14px;
    color: #595959;
    position: absolute;
    left: 38%;
    top: 42%;
}
.pic-100-yxq{
    width: 100%;
    height: 100px;
}
.pic-identity-yxq{
    width: 105px;
    height: 90px;
}
.pic-120-yxq{
    width: 95px;
    height: 95px;
}
.pic-95-yxq{
    width: 95px;
    height: 95px;
}
.pic-83-yxq{
    width: 83px;
    height: 83px;
}
.pic-80-yxq{
    width: 80px;
    height: 80px;
}
.pic-75-yxq{
    width: 75px;
    height: 75px;
}
.pic-65-yxq{
    width: 60px;
    height: 60px;
}
.pic-40-yxq{
    width: 40px;
    height: 40px;
}
.text-left{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.text-center{
    text-align:center;
}
.width{
    width: 100%;
}
.margin-10-yxq{
    margin-left: 10px;
    margin-right: 10px;
}
.margin-10-bottom{
    margin-bottom: 10px;
}
.margin-10-top{
    margin-top: 10px;
}
.margin-2-left{
    margin-left: 2px;
}
.all-0-yxq{
    padding: 0px;
    margin: 0px;
}
.padding-0-yxq{
    padding: 0px;
}
.padding-2-left{
    padding-left: 2px;
}
.item-divider-yxq {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 15px;
    background-color: #f2f2f2;
}
.ios-actionSheet .action-sheet-backdrop{
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.ios-actionSheet .action-sheet-backdrop.active{
    background-color:rgba(0,0,0,0.5);
}
.ios-actionSheet .action-sheet-wrapper{
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    -webkit-transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.ios-actionSheet .action-sheet-up{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.ios-actionSheet .action-sheet{
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}
.ios-actionSheet .action-sheet .button{
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #595959;
    font-size: 21px;
    text-align: center;
}
.ios-actionSheet .action-sheet .button:hover{
    color: black;
}
.ios-actionSheet .action-sheet .button.activated,.action-sheet .button.active{
    box-shadow: none;
    border-color: #d1d3d6;
    color: black;
    background: #e4e5e7;
}
.ios-actionSheet .action-sheet-group{
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.ios-actionSheet .action-sheet-group .button{
    border-width: 1px 0 0;
}
.ios-actionSheet .action-sheet-group .button:first-child:last-child{
    border-width: 0;
}
.ios-actionSheet .action-sheet-options{
    background: #f1f2f3;
}
.ios-actionSheet .action-sheet-cancel .button{
    font-weight: 500;
}







