.login-bg-yxq{
    min-height: 500px;
    background:#F5D5B6 url(../img/bg.jpg) no-repeat 100% 100%;
    text-align: center;
    padding-top: 25%;
}
.home{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 0px;
}
.slide-box img{
    width: 100%;
    height: auto;
}
.home-middle{
    margin-bottom: 0px;
}
.home-middle img{
    width: 100%;
    height: auto;
    padding: 0px 6px 0 6px;
}
.home-bottom{
    margin: 0 6px;
    overflow: hidden;
}
.home-bottom-img{
    width: 33.333333333333333333333333%;
    height: auto;
    float: left;
}
.home-bottom-img img{
    width: 100%;
    height: auto;
}
.rentBike-bg-gj{
    background-color: #f2f2f2;
    position: relative;
}
.rentBike-300-gj{
    width: 100%;
    height: auto;
}
.rentBike-300-gj img{
    width: 100%;
    height: auto;
}
.rentBike-items-gj{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}
.rentBike-item-gj{
    float: right;
    color: white;
    padding-right: 40px;
}
.rentBike-light-gj{
    padding: 10px 0;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 100;
}
.rentBike-light-gj a{
    text-decoration: none;
    color: white;
}
.schedule-img-gj{
    width: 140px;
    height: 180px;
    margin: 0 auto;
    margin-top: 60px;
}
.schedule-img-gj img{
    width: 140px;
    height: 140px;
    opacity: 0.6;
}
.schedule-word-gj{
    margin-top: 18px;
    margin-left: 25px;
}
.success-bg-gj{
    background-color: #f2f2f2;
}
.success-img-gj{
    width: 100%;
    height: 255px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EFEFEF;
}
.information-img-gj{
    width: 119px;
    height: 185px;
    margin: 0 auto;
    padding-top: 25px;
}
.information-img-gj img{
    width: 119px;
    height: 185px;
    opacity: 0.6;
}
.information-word-gj{
    margin-top: 12px;
    margin-left: -35px;
    margin-right: -35px;
}
.success-button-gj{
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
}
.cancellationOrder-img-gj{
    width: 123px;
    height: 180px;
    margin: 0 auto;
    margin-top: 50px;
}
.cancellationOrder-img-gj img{
    width: 123px;
    height: 140px;
    opacity: 0.6;
}
.cancellationOrder-word-gj{
    margin-top: 18px;
    margin-left: 16px;
}
.schedule-div-up{
    background: #ffffff;
    margin-bottom: 15px;
    border-bottom: 1px #cccccc solid;
}
.schedule-inDiv-up{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.schedule-div-down{
    margin-top: 15px;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
    background: #ffffff;
    padding-top: 10px;
}
.schedule-div-downUp{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 18px;
}
.schedule-div-downDown{
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 20px;
}
.find-user-name{
    color: #ffffff;
    margin-top: -20px;
    text-align: right;
    padding-right: 63px;
}
.find-user-name-gj{
    color: #ffffff;
    margin-top: -30px;
    text-align: right;
    padding-right: 63px;
}
.find-user-pic{
    text-align: right;
    margin-top: -25px;
}
.find-act-pic{
    height: 80px;
    width: auto;
}
.find-div-left{
    position: absolute;
    left: 15px;
    width: 50px;
    height: 100%;
}
.find-div-right{
    margin-left: 65px;
    height: 100%;
    padding-right: 5px;
}
.find-icon-chat{
    text-align: right;
    margin-right: 20px;
    padding: 0px;
}
.find-content{
    background: #f2f2f2;
    font-size: 13px;
    margin-right: 20px;
    padding-right: 2px;
}
.mySays-div-yxq{
    background: #FFFFFF;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.coupon-bg-gj{
    position: relative;
    overflow: hidden;
}
.coupon-bg-gj img{
    width: 100%;
    height: auto;
}
.coupon-head-gj{
    padding-bottom: 25px;
}
.couponx-head-gj{
    padding-bottom: 25px;
    padding-top: 10px;
}
.coupon-quan-gj{
    padding-left: 10px;
    font-size: 16px;
    position: absolute;
    left: 0px;
}
.coupon-add-gj{
    padding-left: 10px;
    font-size: 12px;
    position: absolute;
    left: 55px;
    top: 2px;
    color: #999;
}
.couponx-add-gj{
    padding-left: 10px;
    font-size: 12px;
    position: absolute;
    left: 90px;
    top: 12px;
    color: #999;
}
.myCoupon-word-gj{
    width: 100%;
    position: absolute;
    left: 30px;
    top: 20px;
    margin: 0 auto;
}
.coupono-bg-gj{
    margin-bottom: 10px;
    height: auto;
    background: url("../img/coupono.png") no-repeat center;
    background-position:center;
    margin-left: 10px;
    margin-right: 10px;
}
.couponoo-font2-gj{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 75px;
    color: #90B622;
}
.couponoo-font3-gj{
    position: absolute;
    top: 42px;
    left: 60px;
    font-size: 15px;
    color: #90B622;
    margin-right: 8px;
}
.couponox-font2-gj{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 75px;
    color: #FEB849;
}
.couponox-font3-gj{
    position: absolute;
    top: 42px;
    left: 60px;
    font-size: 15px;
    color: #FEB849;
    margin-right: 8px;
}
.couponox-font4-gj{
    position:absolute;
    top: 10px;
    left: 110px;
    font-size: 16px;
    color: #111111;
}
.couponox-font5-gj{
    position:absolute;
    top: 40px;
    left: 110px;
    font-size: 12px;
    color: #999;
}
.details-img-gj img{
    width: 25px;
    height: 20px;
}
.details-iphone-gj img{
    width: 18px;
    height: 20px;
}
.order-img-f{
    width: 70px;
    height: 70px;
    padding: 1px 3px;
    border: 1px solid #e5e5e5;
}
.order-img-ff{
    width: 70px;
    height: 70px;
    padding: 1px 3px;
}
.order-img-gj{
    width: 70px;
    height: 70px;
    padding: 1px 3px;
    border: 1px solid #e5e5e5;
}
.details-word-gj a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.order-spann-gj{
    margin-top: 6px;
    font-size: 12px;
    color: #808080;
}
.order-span-f{
    margin-top: 4px;
    font-size: 12px;
    color: #808080;
}
.order-span-gj{
    margin-top: 4px;
    font-size: 12px;
    color: black;
}
.evaluate-div-yxq{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:30px;
    border-right: none
}
.evaluate-tx-yxq{
    color: #808080;
    background: #f2f2f2;
    font-size: 12px;
}
.button-none{
    border: none;
}
.color-b3-jx{
    color: #b3b3b3;
}
.color-b3-jx a{
    text-decoration: none;
}
.color-83-jx{
    color: #808383;
}
.color-59-jx{
    color: #595959;
}
.color-ora-jx{
    color: #feb84a;
}
.color-bg-jx{
    background-color: #f2f2f2;
}
.information-bg-gj{
    margin-top: 20px;
    background-color: #FFFFFF;
    height: 192px;
}
.information-id-gj{
    height: 96px;
}
.information-men-gj{
    height: 50px;
}
.text-bottom-gj{
    margin-bottom: 15px;
}
.text-120-gj{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}
.text-100-gj{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}
.font-left-yxq {
    width: 100%;
    padding-left: 50px;
    color: white;
    font-size: 15px;
}
.font-50-yxq{
    font-size: 50px;
}
.font-38-yxq{
    font-size: 38px;
}
.font-35-yxq{
    font-size: 35px;
}
.font-24-yxq{
    font-size: 24px;
}
.font-20-yxq{
    font-size: 20px;
}
.font-17-yxq{
    font-size: 17px;
}
.font-18-gj{
    font-size: 18px;
}
.font-16-yxq{
    font-size: 16px;
}
.font-16-gj{
    font-size: 16px;
    color: black;
    opacity: 0.9;
}
.font-15-yxq{
    font-size: 15px;
}
.font-14-yxq{
    font-size: 14px;
}
.font-14-yxq a{
    color: black;
    text-decoration: none;
}
.login-cancel-yxq{
    padding-top: 800px;
    position: absolute;
    right: 15px;
    bottom: 13px;
}
.font-13-yxq{
    font-size: 13px;
}
.font-12-yxq{
    font-size:12px;
}
.hr-yxq{
    border: 0;
    background-color: #e6e6e6;
    height: 1px;
}
.hr-wgj{
    margin-left: 15px;
    border: 0;
    background-color: #e6e6e6;
    height: 1px;
}
.row-gj{
    margin-left: 15px;
}
.row-gj span{
    font-size: 14px;
    color: black;
    opacity: 0.7;
}
.hr-gj{
    margin-top: 40px;
    border: 0;
    background-color: #e6e6e6;
    height: 1px;
}
.button.button-block{
    margin-bottom: 0;
}
.details-flow-gj{
}
.details-text-gj{
    float: right;
    margin-left: 20px;
}
.order-div-gj{
    margin-right: 20px;
}
.details-order-gj{
    float: left;
}
.item p {
    font-size: 12px;
    color: #B3B3B3;
}
.pic-200-yxq{
    width: 100%;
    height: 200px;
}
.pic-200-yxq img{
    width: 100%;
    height: auto;
}
.pic-50-yxq{
    width: 50px;
    height: 50px;
    opacity: 0.9;
}
.pic-200-gj{
    width: 100%;
    height:auto;
    position: relative;
}
.pic-200-gj img{
    width: 100%;
    height: auto;
}
.font-14-gj{
    font-size: 14px;
    color: #595959;
    position: absolute;
    left: 38%;
    top: 42%;
}
.pic-100-yxq{
    width: 100%;
    height: 100px;
}
.pic-identity-yxq{
    width: 105px;
    height: 90px;
}
.pic-120-yxq{
    width: 95px;
    height: 95px;
}
.pic-95-yxq{
    width: 95px;
    height: 95px;
}
.pic-83-yxq{
    width: 83px;
    height: 83px;
}
.pic-80-yxq{
    width: 80px;
    height: 80px;
}
.pic-75-yxq{
    width: 75px;
    height: 75px;
}
.pic-65-yxq{
    width: 70px;
    height: 70px;
}
.img-gj{
    position:relative;
}
.item-center-yxq{
    align-items:center;
}
.mine-color-gj a{
    text-decoration: none;
    color: black;
    display: block;
}
.item-thumbnail-left{
    height: 95px;
}
.photo-gj img{
    position: absolute;
    left: 20px;
    top: 16px;
    width: 60px;
    height: 60px;
}
.img-right-gj{
    position: absolute;
    top: 48px;
    right: 26px;
}
.mine-time-gj{
    background-color: #FFFFFF;
    width: 100%;
    height: 75px;
    overflow: hidden;
}
.mine-yuan-gj{
    float: left;
    width: 33.3333333333333%;
    height: 75px;
    border-right: 1px solid #e5e5e5;
    position: relative;

}
.mine-magin-gj{
    width: 95px;
    overflow: hidden;
    margin: 0 auto;
}
.mine-border-gj{
    border-right: none;
}
.mine-big-gj{
    float: left;
    margin-top: 19px;
    margin-left: 12px;
    font-size: 24px;
    color: #90B621;
}
.mine-small-gj{
    float: left;
    margin-top: 22px;
    font-size: 15px;
    color: #90B621;
}
.mine-bigo-gj{
    float: left;
    margin-top: 19px;
    /*margin-left: 10px;*/
    font-size: 24px;
    color: #4B7AEC;
}
.mine-smallo-gj{
    float: left;
    margin-top: 22px;
    font-size: 15px;
    color: #4B7AEC;
}
.mine-bigx-gj{
    float: left;
    margin-top: 19px;
    margin-left: 10px;
    font-size: 24px;
    color: #FEB849;
}
.mine-smallx-gj{
    float: left;
    margin-top: 22px;
    font-size: 15px;
    color: #FEB849;
}
.mine-money-gj{
    position: absolute;
    left: 30px;
    top: 45px;
    font-size: 12px;
    color: #363636;
    float: left;
}
.mine-moneyo-gj{
    position: absolute;
    left: 32px;
    top: 45px;
    font-size: 12px;
    color: #363636;
}
.mine-moneyx-gj{
    position: absolute;
    left: 35px;
    top: 45px;
    font-size: 12px;
    color: #363636;
}
.pic-40-yxq{
    width: 40px;
    height: 40px;
}
.text-left{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.text-left-gj{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
}
.text-center{
    text-align:center;
}
.width{
    width: 100%;
}
.margin-10-yxq{
    margin-left: 10px;
    margin-right: 10px;
}
.margin-06-top{
    margin-top: -6px;
}
.margin-12-top{
    margin-top: 12px;
}
.margin-18-top{
    margin-top: 18px;
}
.margin-22-top{
    margin-top: 27px;
}
.margin-10-bottom{
    margin-bottom: 10px;
}
.margin-6-bottom{
    margin-bottom: 6px;
}
.item-thumbnail-left{
    min-height: 80px;
    padding-left: 96px;
}
.margin-10-top{
    margin-top: 10px;
}
.margin-2-left{
    margin-left: 2px;
}
.all-0-yxq{
    padding: 0px;
    margin: 0px;
}
.padding-0-yxq{
    padding: 0px;
}
.padding-2-left{
    padding-left: 2px;
}
.item-divider-yxq{
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 10px;
    background-color: #f2f2f2;
}
.item-balanced-gj{
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 30px;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 30px;
}
.balanced-online-gj{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
}
.balanced-left-gj{
    float: left;
    margin-left: 16px;
    padding-top: 13px;
}
.balanced-right-gj{
    float: right;
    margin-right: 16px;
    padding-top: 13px;
}
p{
    margin: 0 0 6px;
}
.item-dividers-gj{
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 10px;
    background-color: #f2f2f2;
}
.item-divider-gj{
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 20px;
    background-color: #f2f2f2;
}
.item-divider{
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 20px;
    background-color: #f2f2f2;
}
.text-top-gj{
    padding-top: 10px;
    padding-bottom: 10px;
}
.details-color-gj{
    background-color: white;
}
.details-bg-gj{
    position: relative;
}
.details-finish-gj{
    position: absolute;
    right: 0;
    top: 0;
}
.details-finish-gj img{
    width: 88px;
    height: 74px;
}
.text-none-gj{
    text-decoration:none;
}
.balanced-yuan-gj{
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 25px;
}
.balanced-yuan-wgj{
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.time-money-gj{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-top: 1px solid #f2f2f2;
    line-height: 40px;
    padding-left: 16px;
}
.ios-actionSheet .action-sheet-backdrop{
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.ios-actionSheet .action-sheet-backdrop.active{
    background-color:rgba(0,0,0,0.5);
}
.ios-actionSheet .action-sheet-wrapper{
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    -webkit-transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.ios-actionSheet .action-sheet-up{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.ios-actionSheet .action-sheet{
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}
.ios-actionSheet .action-sheet .button{
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #595959;
    font-size: 21px;
    text-align: center;
}
.ios-actionSheet .action-sheet .button:hover{
    color: black;
}
.ios-actionSheet .action-sheet .button.activated,.action-sheet .button.active{
    box-shadow: none;
    border-color: #d1d3d6;
    color: black;
    background: #e4e5e7;
}
.ios-actionSheet .action-sheet-group{
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.ios-actionSheet .action-sheet-group .button{
    border-width: 1px 0 0;
}
.ios-actionSheet .action-sheet-group .button:first-child:last-child{
    border-width: 0;
}
.ios-actionSheet .action-sheet-options{
    background: #f1f2f3;
}
.ios-actionSheet .action-sheet-cancel .button{
    font-weight: 500;
}