@font-face {
	font-family: 'myicon';
	src:url('fonts/myicon.eot?3md9he');
	src:url('fonts/myicon.eot?#iefix3md9he') format('embedded-opentype'),
		url('fonts/myicon.ttf?3md9he') format('truetype'),
		url('fonts/myicon.woff?3md9he') format('woff'),
		url('fonts/myicon.svg?3md9he#myicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="yxq_"], [class*=" yxq_"] {
	font-family: 'myicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.yxq_find_outline:before {
	content: "\e608";
}
.yxq_find:before {
	content: "\e609";
}
.yxq_wallet:before {
	content: "\e60b";
}
.yxq_feedback:before {
	content: "\e606";
}
.yxq_about:before {
	content: "\e607";
}
.yxq_rent_outline:before {
	content: "\e600";
}
.yxq_rent:before {
	content: "\e601";
}
.yxq_home_outline:before {
	content: "\e602";
}
.yxq_home:before {
	content: "\e603";
}
.yxq_mine_outline:before {
	content: "\e604";
}
.yxq_mine:before {
	content: "\e605";
}
